__pycache__/
*.pyc
.venv/
env/
venv/
.vscode/
.idea/
.DS_Store
Thumbs.db
results/
*.csv
*.json
config_local.yaml
/models/
/docs/
/my-theme/*
test.py
folder_structure.txt
chunks_cache.txt
chunks_cache.txt.meta
.vs
test_sentence_transformer.py
from_sentence_transformers_import_Senten.py